<h1>회원가입하기</h1>
<form action="/asked/sign_up_process">
 
  
  
  
 
   이메일 : <input type="text" name="email">
   이름 : <input type="text" name="name">
   비밀번호 :<input type="text" name="password">

  
 
  <input type="submit" value="Submit">
</form>